body {
    margin: auto;
    text-align: center;      
}

#pedraButton, #papelButton, #tesouraButton {
    display: inline-block;
    cursor: pointer;
}

button:hover {
    background-color: #18d8e6;
}

#resultado {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#contador {
        width: 50%;
        height: 100px;
        position: absolute;
        top: 450px;
        left:360px;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif
        text-align: center;    
}